# main config to train models
project_name: YOUR_PROJECT_NAME                                 # Used for WANDB
version_name: v0                                                # Make run unique by changing this counter

# main model:
precision: 32
epoch: 100
batch_size: 1
acc_grad_batches: 1
module: LightningAE

# generator
generator: UNet3D
#g_pooling_type: full_conv                                       # full_conv or max_pool
#g_filters: [64, 128, 256, 512, 1024]
#g_activation: ReLU
g_optimizer: Adam
g_lr: 1e-4
#lr_scheduler: 'exponential_decay_0.01'
g_loss: MeanAbsoluteError

# transfer learning
pretrained_generator: null                                      # absolute path to .pt or .ckpt
freeze_encoder: False

# discriminator - will be used if model is GAN
discriminator: null
d_optimizer: null
d_lr: null
d_loss: null

# data:
data_split_pkl: data_split_file_inside_data_folder.pickle       # inside data folder .json or .pickle
data_generator: DefaultDataLoader
data_folder: data_folder_inside_project_dir                     # inside project dir
augment: True
patch_size: [128, 128, 128]
repeat_patient_list: 1

# data_files
input_files: null                                               # define 'name' and 'preprocess_step'
target_files: null

# for plotting during training
plotting_callback: null

# model-specific info (self-generated) - do not write anything beyond here
